/.DS_Store
/.ipynb_checkpoints
/autumn_applications copy.xlsx
/autumn_applications_edits copy 2.xlsx
/autumn_applications_edits copy.xlsx
/autumn_applications_edits.xlsx
/autumn_apps.xlsx
/~$final_apps_autumn.xlsx